:root {
    --darkmain: #1c1c1c;
    --dark2: #C8DBBE;
    /*#F5E8C7;*/
    --violet: #dac6fa;
    --lightdark2: #c8dbbe0d;
    --dark3: rgb(190, 190, 190);
    --red: #ff6e50;
    --white: #ffffff;
    --greytext: #2c2c2c;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap');

body {
    color: var(--white);
    background-color: var(--darkmain);
    font-family: 'Poppins', sans-serif;
}
.violet {
    background-color: var(--violet);
}

.red {
    background-color: var(--red);
}
.allCardsContainer{
    display: inline-flex;
}
.cardcontainer {
    position: relative;
    min-height: 350px;
    box-shadow: 2px 2px 4px 2px #000000;
    width: 280px;
    border-radius: 12px;
    margin-left: 20px;
    color: #000;
}

.data_card {
    width: 256px;
    text-align: left;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 12px;
    transition: 200ms;
}

.data_output {
    width: 82%;
    float: left;
}

.data_output p {
    font-size: 0.8rem;
    color: var(--greytext);
    margin-top: -7px;
}

.data_output h1 {
    font-size: 1.1rem;
    font-weight: 500;
}

.data_card button {
    font-family: 'Poppins', sans-serif;
    color: var(--greytext);
    padding: 10px;
    width: 36px;
    height: 36px;
    border: 1px solid var(--greytext);
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
    float: right;
    margin-top: 40px;
}

.data_card button:hover {
    color: black;
    border: 1px solid black;
    cursor: pointer;
    width: 40px;
    height: 40px;
    margin-top: 36px;
    font-weight: 500;
}

.data_hidden{
    width: 100%;
    float: left;
    font-size: 0.8rem;
    color: var(--greytext);
    margin-top: 16px;
    border-top: 1px solid black;
    display: none;
}