<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="../style/style.css" />
  <title>wEventi</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-transparent position-fixed position-sticky pb-2" role="navigation">
    <div class="container-fluid">
      <a href="#maineventi" class="skip">Vai al contenuto principale</a>
      <a href="index.html" class="navbar-brand">
        <span class="title-paragraph text-white weact-logo" lang="en">weAct</span>
      </a>
      <button class="navbar-toggler btn-close-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top: 0.5rem;">
          <li class="nav-item">
            <a class="nav-link active text-white" href="campagne.html">Campagne</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="eventi.html">Eventi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="registrazione.html">Registrazione</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="articoli.html">Articoli</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="about.html" lang="en">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <header class="hero d-flex justify-content-center align-items-center"
    style="background-image: url(../assets/img/eventi.jpg)" id="maineventi">
    <div class="row">
      <div class="column">
        <h1 class="text-white title-paragraph text-center text-highlighted-red">Eventi</h1>
        <p class="text-white text-center text-highlighted-red">
          La tua occasione per cambiare il mondo davvero
        </p>
      </div>
    </div>
  </header>
  <section ng-App="myApp">
    <div class="container">
      <div class="row">
        <div class="col col-lg-8 p-3">
          <h2 class="text-white title-paragraph">
            Ecco gli eventi in programma:
          </h2>
          <p class="text-white">Iscriviti, riceverai aggiornamenti e news via mail!</p>
        </div>
        <div class="row">
          <!--CARDS -->
          <!--CARD 1 -->
          <div class="card" style="width: 18rem;" ng-Controller="evento1Ctrl">
            <img class="card-img-top" src="../assets/img/eventi_cards/zaino.jpg" alt="">
            <div class="card-body">
              <h3 class="card-title">Assemblea dei soci weAct</h3>
              <p class="card-text">
              <div class="div-copy" ng-click="ShowHide()">
                {{divcopydescr}}
                <i ng-class="{'bi bi-chevron-compact-down': !mostra, 'bi bi-chevron-compact-up': mostra}"></i>
              </div>
              <div ng-show="mostra" class="mostra">
                <br>
                <p>L'assemblea dei soci è un importante momento di incontro e di confronto per tutti i membri
                  dell'associazione. Durante l'assemblea, verranno discusse e prese decisioni su argomenti di rilievo
                  per l'associazione, come il bilancio, le attività svolte e i progetti futuri.
                </p>
              </div>
              <div ng-mouseover="iscrittivisibile=true" ng-mouseLeave="iscrittivisibile=false">
                <br>
                <i ng-class="{'bi bi-eye-fill': iscrittivisibile, 'bi bi-eye-slash-fill': !iscrittivisibile}"></i>
                <span ng-if="!iscrittivisibile">-- iscritti</span><span ng-if="iscrittivisibile"><b>54</b> iscritti</span>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="bi-alarm"></i> 15:30 - 18:00
              </li>
              <li class="list-group-item">
                <i class="bi bi-calendar-date"></i> 18 gennaio 2022
              </li>
              <li class="list-group-item">
                <i class="bi bi-geo-alt"></i> Torino, Italia
              </li>
            </ul>
            <div class="card-body" style="text-align: center">
              <div ng-class="{'iscriviticlass': !iscritto, 'iscrittoclass': iscritto}">
                <i ng-class="{'bi bi-bookmark-check-fill': iscritto, 'bi bi-bookmark': !iscritto}"></i>
                <button ng-click="iscriviti()">{{iscrittostringa}}</button>
              </div>
            </div>
          </div>
          <!--CARD 2 -->
          <div class="card" style="width: 18rem;" ng-Controller="evento2Ctrl">
            <img class="card-img-top" src="../assets/img/eventi_cards/speech.jpg">
            <div class="card-body">
              <h3 class="card-title">Dibattito su temi ambientali</h3>
              <p class="card-text">
              <div class="div-copy" ng-click="ShowHide()">
                {{divcopydescr}}
                <i ng-class="{'bi bi-chevron-compact-down': !mostra, 'bi bi-chevron-compact-up': mostra}"></i>
              </div>
              <div ng-show="mostra" class="mostra">
                <br>
                <p>Il dibattito sarà moderato da un giornalista del settore e verterà su argomenti come il cambiamento
                  climatico, la gestione dei rifiuti, la conservazione della biodiversità e altri temi di attualità. Ci
                  sarà spazio anche per le domande del pubblico, quindi non esitate a portare con voi tutte le vostre
                  domande e curiosità.</p>
              </div>
              <div ng-mouseover="iscrittivisibile=true" ng-mouseLeave="iscrittivisibile=false">
                <br>
                <i ng-class="{'bi bi-eye-fill': iscrittivisibile, 'bi bi-eye-slash-fill': !iscrittivisibile}"></i>
                <span ng-if="!iscrittivisibile">-- iscritti</span><span ng-if="iscrittivisibile"><b>103</b> iscritti</span>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <i class="bi-alarm"></i> 15:30 - 18:00
              </li>
              <li class="list-group-item">
                <i class="bi bi-calendar-date"></i> 23 febbraio 2022
              </li>
              <li class="list-group-item">
                <i class="bi bi-geo-alt"></i> Torino, Italia
              </li>
            </ul>
            <div class="card-body" style="text-align: center">
              <div ng-class="{'iscriviticlass': !iscritto, 'iscrittoclass': iscritto}">
                <i ng-class="{'bi bi-bookmark-check-fill': iscritto, 'bi bi-bookmark': !iscritto}"></i>
                <button ng-click="iscriviti()">{{iscrittostringa}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col col-lg-12">
          <div class="footer-body" role="navigation">
            <a href="index.html"><span class="title-paragraph text-blue weact-logo" lang="en">weAct</span></a>
            <p class="text-blue" lang="en">data-driven activism</p>
            <p class="text-blue">-</p>
            <div class="footernav">
              <ul>
                <li>
                  <a href="campagne.html">Campagne</a>
                </li>
                <li>
                  <a href="eventi.html">Eventi</a>
                </li>
                <li>
                  <a href="registrazione.html">Registrazione</a>
                </li>
                <li>
                  <a href="articoli.html">Articoli</a>
                </li>
                <li>
                  <a href="about.html" lang="en">About</a>
                </li>
              </ul>
            </div>
            <p class="text-blue">-</p>
            <p class="text-lightpink" lang="en">Copyright ©2022 All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
  <script>
    var app = angular.module('myApp', []);
    //devo per forza avere tanti controller quanti eventi, per poter controllare in 
    //modo separato tutte le tendine per leggere il copy.
    app.controller('evento1Ctrl', function ($scope) {
      $scope.mostra = false;
      $scope.divcopydescr = "Leggi la descrizione";
      $scope.ShowHide = function () {
        if (!$scope.mostra) {
          $scope.mostra = true;
          $scope.divcopydescr = "Riduci descrizione";
        } else {
          $scope.mostra = false;
          $scope.divcopydescr = "Leggi la descrizione";
        }
      };
      $scope.iscritto = false;
      $scope.iscrittostringa = "Iscriviti";
      $scope.iscriviti = function () {
        $scope.iscritto = true;
        $scope.iscrittostringa = "Sei iscritto";
      }
    });
    app.controller('evento2Ctrl', function ($scope) {
      $scope.mostra = false;
      $scope.divcopydescr = "Leggi la descrizione";
      $scope.ShowHide = function () {
        if (!$scope.mostra) {
          $scope.mostra = true;
          $scope.divcopydescr = "Riduci descrizione";
        } else {
          $scope.mostra = false;
          $scope.divcopydescr = "Leggi la descrizione";
        }
      };
      $scope.iscritto = false;
      $scope.iscrittostringa = "Iscriviti";
      $scope.iscriviti = function () {
        $scope.iscritto = true;
        $scope.iscrittostringa = "Sei iscritto";
      }
    });
  </script>
</body>

</html>